/Manifest*.toml
/LocalPreferences.toml
/JuliaLocalPreferences.toml

/input/*
!/input/bigiel2010/
!/input/bigiel2010/README.md
!/input/bigiel2010/RadialProfiles.csv
/output/
/build/

__pycache__/
*.py[cod]


.*.kate-swp
.DS_Store
